.anim-slider { width:100%; height:266px; overflow:hidden; position: relative; }
div.slide-container { position:relative; top:0px;left:0px; padding:0; list-style-type:none; }
  div.slide-container > div { float:left; list-style-type:none; position:relative; overflow:hidden; }
  div.slide-container > div > img {
    width: 100%; height: auto;
  }
div.slide-container div .slider3  { 	margin: 0;
	display: block;
	position: absolute;
	-moz-backface-visibility : hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d; }
.controllers ul { position:absolute; text-align: center;
  bottom: 10px; width: 100%; }
   .controllers ul li { 
        margin:0 5px; font: bold 16px arial; cursor:pointer;
        background-color:#ccc; color:#000; padding:10px; list-style-type:none;
        width: 50px;height: 50px;display: inline;
    }
    .controllers ul li.selected {background-color:red; color:#000;}


.control {position:absolute; top: 50%; margin-top: -28px; color:#fff; cursor:pointer;z-index:500;font-size: 24px;}
.prev { left:50px; }
.next { right:50px; }
.el { position:absolute; z-index:50; font-weight:bold; color:#fff; }
.nb-perspective {
	position: relative;
}

.nb-perspective > div {
	position: absolute;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-backface-visibility : hidden;
	-moz-backface-visibility : hidden;
	-o-backface-visibility : hidden;
	-ms-backface-visibility : hidden;
	backface-visibility : hidden;
}
.nb-side {

}
.slide-container>div{
	background-size: cover;
}
.bg-top-left{
	background-position: top left;
}
.bg-top-center{
	background-position: top center;
}
.bg-top-right{
	background-position: top right;
}
.bg-center-left{
	background-position: center left;
}
.bg-center-center{
	background-position: center center;
}
.bg-center-right{
	background-position: center right;
}
.bg-bottom-left{
	background-position: bottom left;
}
.bg-bottom-center{
	background-position: bottom center;
}
.bg-bottom-right{
	background-position: bottom right;
}
@-webkit-keyframes progress-bar {
   0% { left: 0; }
}
@-moz-keyframes progress-bar {
   0% { left: 0; }
}